/* CSS Document */
.report_header{ 
	font-weight: bold;
	border-bottom:#CCC solid thin; 
	margin: 4px 0px;
} 

.report_options{
	margin: 0px 0px 8px 12px;			
}

.report_options li{ 
	list-style:none; display:inline-block;  
	background-color:#CCC; 
	border-radius: 4px;
	padding:3px 6px;
	margin: 0px 4px 4px 0px;
}

.report_options li:hover{
	color:#333;
	background-color:#F90;
	cursor:pointer;
}